In [ ]:
# Exercise 1: Print the sum of the current number and the previous number Write a program to iterate the first
#  10 numbers and in each iteration, print the sum of the current and previous number.
#  Expected result: 0,1,3,5,7,9,11,13,15,17

In [ ]:
# Excercise 2: Write a python program to search a given number from a list

In [ ]:
# Exercise 24: Check Palindrome Number Write a program to check if the given number is a palindrome
#  number

In [ ]:
# # Exercise 25: Create a new list from a two list using the following condition Given a two list of numbers, write
#  a program to create a new list such that the new list should contain odd numbers from the first list and even
#  numbers from the second list

In [ ]:
# # Exercise 26: Calculate income tax for the given income by adhering to the below rules first 10k--> 0% second
#  10 --> 10% remaining-->20%
#  Expected Output:
#  For example, suppose the taxable income is 45000 the income tax payable is
#  100000% + 1000010% + 25000*20% = $6000

In [ ]:
# Exercise 27: Print multiplication table form 1 to 1

In [ ]:
# Excercise 28: Print all the armstrong numbers in the range of 100 to 1000

In [ ]:
# # Excercise 29: The current population of a town is 10000. The population of the town is increasing at the rate
#  of 10% per year. You have to write a program to find out the population at the end of each of the last 10
#  years. For eg current population is 10000 so the output should be like this:
#  #10th year - 10000
#  #9th year - 9000
#  #8th year - 8100 and so on

In [ ]:
# Excercise 30: Write a program to print all the unique combinations of two digits from 1 to 4 for ex (1,2),
 (2,3).....

In [ ]:
# Excercise 31:Write a program to print whether a given number is prime number or not

In [ ]:
#  Excercise 33: User will provide 2 numbers you have to find the by LCM of those 2 numbers

In [ ]:
# # excercise 34: Write a program that take a user input of three angles and will find out whether it can form a
#  triangle or not

In [ ]:
# # excercise 35:Write a program that will determine weather when the value of temperature and humidity is
#  provided by the user.
#  TEMPERATURE(C)    
#  >= 30        
#  >= 30        
#  <30          
#  <30          
#   HUMIDITY(%)    
#   >=90            
#   < 90            
#   >= 90          
#   WEATHER
#  Hot and Humid
#   <90            
#  Hot
#   Cool and Humid
#   Cool

In [ ]:
# excercise 36:Write a program that will take user input of cost price and selling price and determines whether
#  its a loss or a profit

In [ ]:
# excercise 37-Write a program that will give you the in hand salary after deduction of HRA(10%),
#  DA(5%),
#  PF(3%),
#  and tax
#  (if salary is between 5-10 lakh–10%),
#  (11-20lakh–20%),
#  (20< _ – 30%)
#  (0-1lakh print k)

In [ ]:
# excercise 38: Write a menu driven program - 1.cm to ft
#  2.kl to miles
#  3.usd to inr
#  4.exit

In [ ]:
# Excercise 39:Write a program that will tell the number of dogs and chicken are there when the user will
#  provide the value of total heads and legs

In [ ]:
# excercise 40: Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if
#  the user provides n=10 the output should be 55.

In [ ]:
#  Excercise 41: Write a program that can multiply 2 numbers provided by the user without using the * operator

In [ ]:
# Excercise 42:Write a program that can find the factorial of a given number provided by the user.

In [ ]:
# excercise 43:print following pattern

In [ ]:
# Exercise 44: Print First 10 natural numbers using while loop

In [ ]:
# # Exercise 45: Print the following pattern
# 1 
# 2 3 
# 4 5 6 
# 7 8 9 10 
# 11 12 13 14 15

In [ ]:
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5

In [ ]:
# enter the number: 5
#  1 
# 1 1 
# 1 2 1 
# 1 3 3 1 
# 1 4 6 4 1

In [ ]:
# Exercise 48: Calculate the sum of all numbers from 1 to a given number
#  Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given
#  number
#  For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

In [ ]:
# Exercise 49: Write a program to print multiplication table of a given number For example, num = 2 so the
#  output should be

In [ ]:
# Exercise 50: Display numbers from a list using loop Write a program to display only those numbers from a list
#  that satisfy the following conditions
#  The number must be divisible by five
#  If the number is greater than 150, then skip it and move to the next number
#  If the number is greater than 500, then stop the loop

In [ ]:
# Exercise 51: Count the total number of digits in a number Write a program to count the total number of digits
#  in a number using a while loop.
#  For example, the number is 75869, so the output should be 5

In [ ]:
# # Exercise 52: Print the following pattern Write a program to use for loop to print the following reverse number
# #  pattern
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1

In [ ]:
# Exercise 53: Print list in reverse order using a loop

In [ ]:
# exercise 54: Display numbers from -10 to -1 using for loop

In [ ]:
# exercise 55: Use else block to display a message “Done” after successful execution of for loop
#  For example, the following loop will execute without any error.

In [ ]:
# Exercise 56: Write a program to display all prime numbers within a range
#  Note: A Prime Number is a number which only divisible by one and number itself.but 1 is not prime number

In [ ]:
# Exercise 57: Display Fibonacci series up to 10 terms The Fibonacci Sequence is a series of numbers. The
#  next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.
#  For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [ ]:
# Exercise 58: Find the factorial of a given number Write a program to use the loop to find the factorial of a
#  given number.
#  The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

In [ ]:
# Exercise 59: Reverse a given integer number Given:
#  76542
#  Expected output:
#  24567

In [ ]:
# Exercise 60: Use a loop to display elements from a given list present at odd index positions
#  my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Exercise 61: Calculate the cube of all numbers from 1 to a given number Write a program to rint the cube of
#  all numbers from 1 to a given number
#  Given:
#  input_number = 6

In [ ]:
# Exercise 62: Find the sum of the series upto n terms Write a program to calculate the sum of series up to n
#  term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690